<h2>C#</h2>

<%= render 'head'%>

<ul class="ul-Vid">
	<li class="V"><iframe width="200" height="200" src="https://www.youtube.com/embed/sngC8L_SK2w" frameborder="0" allowfullscreen></iframe><br>Aula 1</li>

	<li class="V"><iframe width="200" height="200" src="https://www.youtube.com/embed/G5Meca65XvM" frameborder="0" allowfullscreen></iframe><br>Aula 2</li>

	<li class="V"><iframe width="200" height="200" src="https://www.youtube.com/embed/yeES4Bb60uY" frameborder="0" allowfullscreen></iframe><br>Aula 3</li>
</ul>


<hr>
<%= link_to 'Voltar', controller: 'curso', action: 'index' %>
<hr>

<%= render 'footer'%>